/* styles/highlight.css
.hljs {
    background-color: #333;
    color: green;
    padding: 1em;
    border-radius: 8px;
}

pre{
    background-color: #333;
    color: green;
    padding: 1em;
    border-radius: 8px;
}

code{
 background-color: #333;
    color: green;
    padding: 1em;
    border-radius: 8px;
} */
